<h1>Inhaltsverzeichnis<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#A.-Datenanalyse-mit-Pandas---1.-Grundlagen" data-toc-modified-id="A.-Datenanalyse-mit-Pandas---1.-Grundlagen-1">A. Datenanalyse mit Pandas - 1. Grundlagen</a></span><ul class="toc-item"><li><span><a href="#Einlesen-von-csv-Dateien-als-Pandas-Dataframe" data-toc-modified-id="Einlesen-von-csv-Dateien-als-Pandas-Dataframe-1.1">Einlesen von csv-Dateien als Pandas <code>Dataframe</code></a></span></li><li><span><a href="#Dataframes-verstehen-am-Beispiel-des-LendingClub-Datensatzes" data-toc-modified-id="Dataframes-verstehen-am-Beispiel-des-LendingClub-Datensatzes-1.2"><code>Dataframes</code> verstehen am Beispiel des <code>LendingClub</code> Datensatzes</a></span><ul class="toc-item"><li><span><a href="#Auswahl-einiger-wichtiger-Spalten" data-toc-modified-id="Auswahl-einiger-wichtiger-Spalten-1.2.1">Auswahl einiger wichtiger Spalten</a></span></li><li><span><a href="#Überblick-über-die-Variablen-im-Datensatz" data-toc-modified-id="Überblick-über-die-Variablen-im-Datensatz-1.2.2">Überblick über die Variablen im Datensatz</a></span></li><li><span><a href="#Zugreifen-auf-die-Werte-einer-Spalte-als-Serie" data-toc-modified-id="Zugreifen-auf-die-Werte-einer-Spalte-als-Serie-1.2.3">Zugreifen auf die Werte einer Spalte als <code>Serie</code></a></span></li><li><span><a href="#Zugriff-auf-Werte-durch-numerische-Indizierung" data-toc-modified-id="Zugriff-auf-Werte-durch-numerische-Indizierung-1.2.4">Zugriff auf Werte durch numerische Indizierung</a></span></li><li><span><a href="#Eindeutige-Werte-und-Aggregationen-für-kategoriale-Variablen" data-toc-modified-id="Eindeutige-Werte-und-Aggregationen-für-kategoriale-Variablen-1.2.5">Eindeutige Werte und Aggregationen für kategoriale Variablen</a></span></li><li><span><a href="#Filtern-von-Zeilen-anhand-von-Bedingungen" data-toc-modified-id="Filtern-von-Zeilen-anhand-von-Bedingungen-1.2.6">Filtern von Zeilen anhand von Bedingungen</a></span></li></ul></li><li><span><a href="#Fehlende-Werte-(Missing-Values)" data-toc-modified-id="Fehlende-Werte-(Missing-Values)-1.3">Fehlende Werte (Missing Values)</a></span><ul class="toc-item"><li><span><a href="#Prüfen-auf-fehlende-Werte" data-toc-modified-id="Prüfen-auf-fehlende-Werte-1.3.1">Prüfen auf fehlende Werte</a></span></li><li><span><a href="#Entfernen-von-hardship_loan_status-aus-dem-Dataframe" data-toc-modified-id="Entfernen-von-hardship_loan_status-aus-dem-Dataframe-1.3.2">Entfernen von hardship_loan_status aus dem Dataframe</a></span></li><li><span><a href="#Entfernen-Sie-alle-Zeilen-mit-fehlenden-Werten" data-toc-modified-id="Entfernen-Sie-alle-Zeilen-mit-fehlenden-Werten-1.3.3">Entfernen Sie alle Zeilen mit fehlenden Werten</a></span></li></ul></li><li><span><a href="#Duplikate" data-toc-modified-id="Duplikate-1.4">Duplikate</a></span></li><li><span><a href="#Transformieren-und-Bereinigen-einzelner-Spalten" data-toc-modified-id="Transformieren-und-Bereinigen-einzelner-Spalten-1.5">Transformieren und Bereinigen einzelner Spalten</a></span><ul class="toc-item"><li><span><a href="#Erstellen-einer-neuen-binären-numerischen-Spalte-für-die-Vorhersage" data-toc-modified-id="Erstellen-einer-neuen-binären-numerischen-Spalte-für-die-Vorhersage-1.5.1">Erstellen einer neuen binären numerischen Spalte für die Vorhersage</a></span></li><li><span><a href="#Erstellen-einer-numerischen-Variable-aus-emp_length" data-toc-modified-id="Erstellen-einer-numerischen-Variable-aus-emp_length-1.5.2">Erstellen einer numerischen Variable aus <code>emp_length</code></a></span></li><li><span><a href="#Übung:-Erstellen-Sie-eine-numerische-Variable-aus-grade" data-toc-modified-id="Übung:-Erstellen-Sie-eine-numerische-Variable-aus-grade-1.5.3">Übung: Erstellen Sie eine numerische Variable aus <code>grade</code></a></span></li><li><span><a href="#Erstellen-einer-numerischen-Variable-aus-term" data-toc-modified-id="Erstellen-einer-numerischen-Variable-aus-term-1.5.4">Erstellen einer numerischen Variable aus <code>term</code></a></span></li><li><span><a href="#Erstellen-einer-numerischen-Variable-aus-int_rate" data-toc-modified-id="Erstellen-einer-numerischen-Variable-aus-int_rate-1.5.5">Erstellen einer numerischen Variable aus <code>int_rate</code></a></span></li></ul></li></ul></li></ul></div>

# A. Datenanalyse mit Pandas - 1. Grundlagen

## Einlesen von csv-Dateien als Pandas `Dataframe`

Immer der erste Schritt: Import erforderlicher Bibliotheken/Module!

In [1]:
# Import packages ('matplotlib inline' für Grafiken)
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import pandas as pd
from datetime import datetime

In [2]:
#change directory
%cd "C:\Users\Dennis\OneDrive\Dokumente\03_Master BWL BAOR - KU Eichstaett-Ingolstadt\05_Kurse\06_Wahlfaecher\03_Data Science in Finance mit Python\01_Vorlesung\Kapitel A"

[WinError 3] Das System kann den angegebenen Pfad nicht finden: 'C:\\Users\\Dennis\\OneDrive\\Dokumente\\03_Master BWL BAOR - KU Eichstaett-Ingolstadt\\05_Kurse\\06_Wahlfaecher\\03_Data Science in Finance mit Python\\01_Vorlesung\\Kapitel A'
C:\Users\Dennis\OneDrive\Dokumente\03_Master BWL BAOR - KUEI\05_Kurse\06_Wahlfaecher\03_Data Science in Finance mit Python\01_Vorlesung\Kapitel A

In [3]:
# Read in the dataset
filename = 'LendingClub.csv' # muss sich im selben Ordner wie das Notebook befinden
raw_data_all = pd.read_csv(filename, low_memory=False) # pd für pandas

In [4]:
# Check the data
raw_data_all
raw_data_all.head(10) #standardmäßig 5 (default Wert)
# Not all columns showing.. too many of them... check separately for field names

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,5000.0,5000.0,5000.0,36 months,7.90%,156.46,A,A4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,7000.0,7000.0,7000.0,60 months,15.96%,170.08,C,C5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,3000.0,3000.0,3000.0,36 months,18.64%,109.43,E,E1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,5600.0,5600.0,5600.0,60 months,21.28%,152.39,F,F2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,5375.0,5375.0,5350.0,60 months,12.69%,121.45,B,B5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

Schauen wir uns die Liste aller Spalten in dem Dataframe an.

In [5]:
spalten = raw_data_all.columns.tolist()
spalten #Liste immer eckige Klammern

['id',
 'member_id',
 'loan_amnt',
 'funded_amnt',
 'funded_amnt_inv',
 'term',
 'int_rate',
 'installment',
 'grade',
 'sub_grade',
 'emp_title',
 'emp_length',
 'home_ownership',
 'annual_inc',
 'verification_status',
 'issue_d',
 'loan_status',
 'pymnt_plan',
 'url',
 'desc',
 'purpose',
 'title',
 'zip_code',
 'addr_state',
 'dti',
 'delinq_2yrs',
 'earliest_cr_line',
 'inq_last_6mths',
 'mths_since_last_delinq',
 'mths_since_last_record',
 'open_acc',
 'pub_rec',
 'revol_bal',
 'revol_util',
 'total_acc',
 'initial_list_status',
 'out_prncp',
 'out_prncp_inv',
 'total_pymnt',
 'total_pymnt_inv',
 'total_rec_prncp',
 'total_rec_int',
 'total_rec_late_fee',
 'recoveries',
 'collection_recovery_fee',
 'last_pymnt_d',
 'last_pymnt_amnt',
 'next_pymnt_d',
 'last_credit_pull_d',
 'collections_12_mths_ex_med',
 'mths_since_last_major_derog',
 'policy_code',
 'application_type',
 'annual_inc_joint',
 'dti_joint',
 'verification_status_joint',
 'acc_now_delinq',
 'tot_coll_amt',
 'tot_cur_bal',
 'open_acc_6m',
 'open_act_il',
 'open_il_12m',
 'open_il_24m',
 'mths_since_rcnt_il',
 'total_bal_il',
 'il_util',
 'open_rv_12m',
 'open_rv_24m',
 'max_bal_bc',
 'all_util',
 'total_rev_hi_lim',
 'inq_fi',
 'total_cu_tl',
 'inq_last_12m',
 'acc_open_past_24mths',
 'avg_cur_bal',
 'bc_open_to_buy',
 'bc_util',
 'chargeoff_within_12_mths',
 'delinq_amnt',
 'mo_sin_old_il_acct',
 'mo_sin_old_rev_tl_op',
 'mo_sin_rcnt_rev_tl_op',
 'mo_sin_rcnt_tl',
 'mort_acc',
 'mths_since_recent_bc',
 'mths_since_recent_bc_dlq',
 'mths_since_recent_inq',
 'mths_since_recent_revol_delinq',
 'num_accts_ever_120_pd',
 'num_actv_bc_tl',
 'num_actv_rev_tl',
 'num_bc_sats',
 'num_bc_tl',
 'num_il_tl',
 'num_op_rev_tl',
 'num_rev_accts',
 'num_rev_tl_bal_gt_0',
 'num_sats',
 'num_tl_120dpd_2m',
 'num_tl_30dpd',
 'num_tl_90g_dpd_24m',
 'num_tl_op_past_12m',
 'pct_tl_nvr_dlq',
 'percent_bc_gt_75',
 'pub_rec_bankruptcies',
 'tax_liens',
 'tot_hi_cred_lim',
 'total_bal_ex_mort',
 'total_bc_limit',
 'total_il_high_credit_limit',
 'revol_bal_joint',
 'sec_app_earliest_cr_line',
 'sec_app_inq_last_6mths',
 'sec_app_mort_acc',
 'sec_app_open_acc',
 'sec_app_revol_util',
 'sec_app_open_act_il',
 'sec_app_num_rev_accts',
 'sec_app_chargeoff_within_12_mths',
 'sec_app_collections_12_mths_ex_med',
 'sec_app_mths_since_last_major_derog',
 'hardship_flag',
 'hardship_type',
 'hardship_reason',
 'hardship_status',
 'deferral_term',
 'hardship_amount',
 'hardship_start_date',
 'hardship_end_date',
 'payment_plan_start_date',
 'hardship_length',
 'hardship_dpd',
 'hardship_loan_status',
 'orig_projected_additional_accrued_interest',
 'hardship_payoff_balance_amount',
 'hardship_last_payment_amount',
 'disbursement_method',
 'debt_settlement_flag',
 'debt_settlement_flag_date',
 'settlement_status',
 'settlement_date',
 'settlement_amount',
 'settlement_percentage',
 'settlement_term']

## `Dataframes` verstehen am Beispiel des `LendingClub` Datensatzes
Da wir im Folgenden häufig mit Pandas Dataframes arbeiten, ist ein grundlegendes Verständnis der zentralen Konzepte essentiell.

### Auswahl einiger wichtiger Spalten
Da unser Beispiel-Dataframe eine Vielzahl von Spalten enthält, wählen wir zunächst einige wichtige aus, die wir für die spätere Betrachtung behalten wollen.

- Zunächst generieren wir eine Liste, die die Namen der Spalten enthält, die wir behalten wollen.
- Die rechte Seite des folgenden Codes generiert ein neues Dataframe durch Selektion einer Liste von Spalten aus einem existierenden Dataframe.

In [6]:
# List of columns to keep
cols = ['loan_amnt', 'term', 'int_rate', 'funded_amnt', 'grade', 'annual_inc', 'dti', 'hardship_loan_status', 'delinq_2yrs', 'last_pymnt_amnt', 'emp_length','loan_status','home_ownership','tax_liens']
# Dataframe with selected columns
raw_data = raw_data_all[cols] # nur die selektierten Spalten werden übernommen

In [7]:
#Let's check the top rows
raw_data.head()

,loan_amnt,term,int_rate,funded_amnt,grade,annual_inc,dti,hardship_loan_status,delinq_2yrs,last_pymnt_amnt,emp_length,loan_status,home_ownership,tax_liens
0,5000.0,36 months,10.65%,5000.0,B,24000.0,27.65,NaN,0.0,171.62,10+ years,Fully Paid,RENT,0.0
1,2500.0,60 months,15.27%,2500.0,C,30000.0,1.00,NaN,0.0,119.66,< 1 year,Charged Off,RENT,0.0
2,2400.0,36 months,15.96%,2400.0,C,12252.0,8.72,NaN,0.0,649.91,10+ years,Fully Paid,RENT,0.0
3,10000.0,36 months,13.49%,10000.0,C,49200.0,20.00,NaN,0.0,357.48,10+ years,Fully Paid,RENT,0.0
4,3000.0,60 months,12.69%,3000.0,B,80000.0,17.94,NaN,0.0,67.30,1 year,Fully Paid,RENT,0.0

**Was ist der "Typ" des Objekts das wir gerade erstellt haben?**

Lassen Sie uns einfach zwei Spalten auswählen und die `type` Funktion verwenden:

In [8]:
type(raw_data[['loan_amnt', 'term']]) #['loan_amnt'] direkt als Liste eingefügt
#typ ist ein Data frame (Matrix mit Spalten und Zeilen)

pandas.core.frame.DataFrame

In [9]:
raw_data[['loan_amnt', 'term']].head()

   loan_amnt        term
0     5000.0   36 months
1     2500.0   60 months
2     2400.0   36 months
3    10000.0   36 months
4     3000.0   60 months

Die obige Vorgehensweise funktioniert auch wenn wir ein Dataframe mit nur einer Spalte erstellen wollen. Damit Pandas weiß dass wir ein Objekt des Typs `Dataframe` generieren wollen, müssen wir eine Liste verwenden.

In [10]:
type(raw_data[['loan_amnt']]) #DataFrame
#type(raw_data['loan_amnt']) #Series

pandas.core.frame.DataFrame

In [11]:
raw_data[['loan_amnt']].head()

   loan_amnt
0     5000.0
1     2500.0
2     2400.0
3    10000.0
4     3000.0

### Überblick über die Variablen im Datensatz
Wir können die Typ-Info für alle Variablen im Datensatz in kompakter Form erhalten:

In [12]:
#Check field types
raw_data.info() #42538 Zeilen; bei Spalte loan_amnt fehlen 3 Werte etc.
                #Datentypen: float=Dezimalzahl & object=Zeichenkette(String)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42538 entries, 0 to 42537
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   loan_amnt             42535 non-null  float64
 1   term                  42535 non-null  object
 2   int_rate              42535 non-null  object
 3   funded_amnt           42535 non-null  float64
 4   grade                 42535 non-null  object
 5   annual_inc            42531 non-null  float64
 6   dti                   42535 non-null  float64
 7   hardship_loan_status  0 non-null      float64
 8   delinq_2yrs           42506 non-null  float64
 9   last_pymnt_amnt       42535 non-null  float64
 10  emp_length            41423 non-null  object
 11  loan_status           42535 non-null  object
 12  home_ownership        42535 non-null  object
 13  tax_liens             42430 non-null  float64
dtypes: float64(8), object(6)
memory usage: 4.5+ MB

Wir können auch einen Überblick über die deskriptive Statistik der numerischen Variablen bekommen:

In [13]:
raw_data.describe() #Anzahl, Mean, Std, Min, 25%, 50%, 75%, Max

,loan_amnt,funded_amnt,annual_inc,dti,hardship_loan_status,delinq_2yrs,last_pymnt_amnt,tax_liens
count,42535.000000,42535.000000,4.253100e+04,42535.000000,0.0,42506.000000,42535.000000,42430.000000
mean,11089.722581,10821.585753,6.913656e+04,13.373043,NaN,0.152449,2613.245652,0.000024
std,7410.938391,7146.914675,6.409635e+04,6.726315,NaN,0.512406,4385.066535,0.004855
min,500.000000,500.000000,1.896000e+03,0.000000,NaN,0.000000,0.000000,0.000000
25%,5200.000000,5000.000000,4.000000e+04,8.200000,NaN,0.000000,211.050000,0.000000
50%,9700.000000,9600.000000,5.900000e+04,13.470000,NaN,0.000000,528.360000,0.000000
75%,15000.000000,15000.000000,8.250000e+04,18.680000,NaN,0.000000,3170.220000,0.000000
max,35000.000000,35000.000000,6.000000e+06,29.990000,NaN,13.000000,36115.200000,1.000000

### Zugreifen auf die Werte einer Spalte als `Serie`

Eine Serie ("Series") ist ein 1-dimensionales Objekt, kein Dataframe!

Der Zweck eines Dataframes besteht darin, Daten eines Tabellenformats mit mehreren Spalten und Zeilen, d. h. zweidimensional, zu speichern. Während ein Dataframe, das eine einzelne Spalte enthält, möglich und manchmal angemessen ist, wäre es in vielen Fällen besser, eine Spalte nicht als Tabelle, sondern in der Art und Weise zu referenzieren, wie sie wirklich ist: eine Reihe von Werten. Beispielsweise kann eine Serie ähnlich wie einfache Python-Arrays indiziert werden, um Elemente auszuwählen.

Es gibt mehrere Möglichkeiten, die Werte einer Spalte als Serie zu extrahieren. Wir zeigen die beiden wohl am häufigsten verwendeten Wege unten.

**Referenzierung einer Spalte als Serie, nach ihrem Namen**

In [14]:
# Select top 5 rows of column "funded_amnt"
raw_data['funded_amnt'][:5] #generiert Serie über Zeile/Index 0 bis 4

0     5000.0
1     2500.0
2     2400.0
3    10000.0
4     3000.0
Name: funded_amnt, dtype: float64

In [15]:
type(raw_data['funded_amnt']) #Serie

pandas.core.series.Series

In [16]:
type(raw_data[['funded_amnt']]) #Data Frame mit Hilfe einer Liste

pandas.core.frame.DataFrame

**Referenzieren einer Spalte als Serie unter Verwendung der Punktnotation**

In [17]:
# Select top 5 rows of column "funded_amnt"
raw_data.funded_amnt[0:5] # 2. Möglichkeit eine Spalte anzusprechen

0     5000.0
1     2500.0
2     2400.0
3    10000.0
4     3000.0
Name: funded_amnt, dtype: float64

### Zugriff auf Werte durch numerische Indizierung
Es gibt eine Möglichkeit, auf den Dataframe so zuzugreifen, wie wir auf Elemente einer Matrix mit numerischen Indizes zugreifen würden.

Hinweis: Der erste Index ist der Zeilenindex und der zweite Index der Spaltenindex:

`data.iloc[row,column]` # i für integer; Zeilen- und Spaltenindex

In [18]:
raw_data.columns.tolist()

['loan_amnt',
 'term',
 'int_rate',
 'funded_amnt',
 'grade',
 'annual_inc',
 'dti',
 'hardship_loan_status',
 'delinq_2yrs',
 'last_pymnt_amnt',
 'emp_length',
 'loan_status',
 'home_ownership',
 'tax_liens']

In [19]:
# Select top 5 rows of the column with the index 3. 
#Note: indexing starts with 0, so this is the "funded_amnt" column.
raw_data.iloc[:5,3] #iloc = integer location; ersten 5 Zeilen der 3. Spalte

0     5000.0
1     2500.0
2     2400.0
3    10000.0
4     3000.0
Name: funded_amnt, dtype: float64

Lassen Sie uns einige Berechnungen mit der Serie durchführen. Da sie numerisch ist, können wir numerische Operationen durchführen, z.B. die Berechnung des Mittelwerts, Multiplikation mit 2 usw.

In [20]:
raw_data.funded_amnt.mean() #Mean über die Spalte funded.amnt

10821.585752909368

In [21]:
raw_data.funded_amnt[:5] * 2

0    10000.0
1     5000.0
2     4800.0
3    20000.0
4     6000.0
Name: funded_amnt, dtype: float64

### Eindeutige Werte und Aggregationen für kategoriale Variablen
Sehen wir uns zunächst die eindeutigen Werte ("unique values") an. Beachten Sie, dass das Ergebnis keine Serie, sondern ein `numpy Array` ist.

In [22]:
raw_data.grade.unique() #unique values von Spalte 'grade'

array(['B', 'C', 'A', 'E', 'F', 'D', 'G', nan], dtype=object)

Sehen wir uns an, wie oft jeder Wert in dieser Serie vorkommt. Wir verwenden dafür die integrierte Methode `value_counts()` einer Serie.

In [23]:
raw_data.grade.value_counts() # Anzahl der unique values

B    12389
A    10183
C     8740
D     6016
E     3394
F     1301
G      512
Name: grade, dtype: int64

**Group by**

Das gleiche können wir tun, indem wir den vollständigen Dataframe mit einem Gruppenausdruck verwenden.

In [24]:
raw_data.groupby(by='grade').agg('count') #gruppiert Datensatz nach unique values von Spalte 'grade' und zählt die Anzahl
                                          #summiert pro Spalte
#Alternativen
#raw_data.groupby(by='grade').agg('mean')
#raw_data.groupby(by='grade').agg('sum')

,loan_amnt,term,int_rate,funded_amnt,annual_inc,dti,hardship_loan_status,delinq_2yrs,last_pymnt_amnt,emp_length,loan_status,home_ownership,tax_liens
grade,,,,,,,,,,,,,
A,10183,10183,10183,10183,10179,10183,0,10172,10183,9790,10183,10183,10153
B,12389,12389,12389,12389,12389,12389,0,12379,12389,12045,12389,12389,12367
C,8740,8740,8740,8740,8740,8740,0,8734,8740,8558,8740,8740,8719
D,6016,6016,6016,6016,6016,6016,0,6015,6016,5896,6016,6016,6003
E,3394,3394,3394,3394,3394,3394,0,3393,3394,3345,3394,3394,3383
F,1301,1301,1301,1301,1301,1301,0,1301,1301,1279,1301,1301,1295
G,512,512,512,512,512,512,0,512,512,510,512,512,510

Hinweis: Der Funktionsname `agg` bedeutet, dass wir für jede Gruppe einen Vorgang in aggregierter Weise ausführen.

In [25]:
raw_data.groupby(by='grade').loan_amnt.agg('count') # nur Spalte 'loan_amnt'

grade
A    10183
B    12389
C     8740
D     6016
E     3394
F     1301
G      512
Name: loan_amnt, dtype: int64

Natürlich können wir andere Arten von Aggregationen anwenden, wie Summierung, Mittelung, wir können sogar benutzerdefinierte Aggregationsfunktionen anwenden. Darüber hinaus können wir mehr als eine von ihnen gleichzeitig anwenden!

In [26]:
raw_data.groupby(by='grade').funded_amnt.agg(['min', 'max', 'sum', 'mean'])

          min      max          sum          mean
grade
A       500.0  35000.0   85295150.0   8376.229991
B       500.0  35000.0  133714950.0  10793.038179
C       500.0  35000.0   93102750.0  10652.488558
D       500.0  35000.0   70068700.0  11647.057846
E       600.0  35000.0   48061025.0  14160.584856
F      1000.0  35000.0   21511400.0  16534.511914
G       600.0  35000.0    8542175.0  16683.935547

### Filtern von Zeilen anhand von Bedingungen
Sehen wir uns an, wie wir Zeilen basierend auf Spaltenwerten filtern können.
Wir wählen nur die Darlehen aus, bei denen das Einkommen des Kreditnehmers größer als 1.000.000 USD ist.

In [27]:
raw_data[raw_data.annual_inc > 1000000] # alle Zeilen mit annual income größer als 1 Mio

,loan_amnt,term,int_rate,funded_amnt,grade,annual_inc,dti,hardship_loan_status,delinq_2yrs,last_pymnt_amnt,emp_length,loan_status,home_ownership,tax_liens
7268,12025.0,36 months,14.27%,12025.0,C,1782000.0,1.31,NaN,0.0,842.91,10+ years,Fully Paid,RENT,0.0
10650,15775.0,60 months,12.99%,15775.0,C,1250000.0,21.81,NaN,0.0,358.85,2 years,Charged Off,MORTGAGE,0.0
21477,10000.0,36 months,6.54%,10000.0,A,1200000.0,1.46,NaN,0.0,222.14,10+ years,Fully Paid,OWN,0.0
23618,1500.0,36 months,6.17%,1500.0,A,1900000.0,0.57,NaN,0.0,1197.34,5 years,Fully Paid,MORTGAGE,0.0
24233,25000.0,60 months,15.20%,25000.0,D,1200000.0,0.41,NaN,0.0,14624.78,10+ years,Fully Paid,RENT,0.0
25831,12000.0,36 months,7.51%,12000.0,A,1200000.0,9.17,NaN,0.0,407.64,1 year,Fully Paid,MORTGAGE,0.0
27633,5600.0,60 months,13.61%,5600.0,C,1176000.0,1.22,NaN,1.0,137.79,10+ years,Fully Paid,MORTGAGE,0.0
28975,4500.0,60 months,7.88%,4500.0,A,1080000.0,0.57,NaN,0.0,2269.27,8 years,Fully Paid,MORTGAGE,0.0
29708,25000.0,60 months,10.62%,15500.0,B,3900000.0,0.20,NaN,0.0,353.14,3 years,Fully Paid,MORTGAGE,0.0
30176,5000.0,36 months,12.73%,5000.0,C,6000000.0,0.01,NaN,0.0,3845.25,10+ years,Fully Paid,MORTGAGE,0.0
33501,10000.0,36 months,7.74%,10000.0,A,1200000.0,0.80,NaN,0.0,199.75,1 year,Fully Paid,MORTGAGE,0.0
34051,6400.0,36 months,7.40%,6400.0,A,1440000.0,0.00,NaN,0.0,2503.47,7 years,Fully Paid,MORTGAGE,0.0
34373,6600.0,36 months,7.74%,6600.0,A,1362000.0,0.62,NaN,0.0,5470.14,9 years,Fully Paid,MORTGAGE,0.0
39158,8450.0,36 months,12.29%,8450.0,C,2039784.0,0.13,NaN,0.0,293.01,< 1 year,Fully Paid,RENT,0.0
40530,25000.0,36 months,19.79%,25000.0,F,1440000.0,3.26,NaN,1.0,987.45,10+ years,Does not meet the credit policy. Status:Fully ...,MORTGAGE,0.0

**Wie funktioniert das?**

Der Filter erstellt eine boolesche Serie, die anzeigt, welche Zeile die Filterbedingung erfüllt und welche nicht. Die boolesche Serie wird dann verwendet, um den Dataframe zu indizieren.

Erstellen wir einen Filter für die Note "A".

In [28]:
grade_filter = raw_data.grade == 'A'
print(type(grade_filter))
print(grade_filter)

<class 'pandas.core.series.Series'>
0        False
1        False
2        False
3        False
4        False
         ...
42533    False
42534     True
42535     True
42536    False
42537    False
Name: grade, Length: 42538, dtype: bool

In [29]:
raw_data[grade_filter].head() # ersten 5 Werte
# raw_data[grade_filter].tail() # letzten 5 Werte

,loan_amnt,term,int_rate,funded_amnt,grade,annual_inc,dti,hardship_loan_status,delinq_2yrs,last_pymnt_amnt,emp_length,loan_status,home_ownership,tax_liens
5,5000.0,36 months,7.90%,5000.0,A,36000.00,11.20,NaN,0.0,161.03,3 years,Fully Paid,RENT,0.0
17,3600.0,36 months,6.03%,3600.0,A,110000.00,10.52,NaN,0.0,583.45,10+ years,Fully Paid,MORTGAGE,0.0
19,9200.0,36 months,6.03%,9200.0,A,77385.19,9.86,NaN,0.0,8061.10,6 years,Fully Paid,RENT,0.0
30,4375.0,36 months,7.51%,4375.0,A,17108.00,20.34,NaN,0.0,144.94,7 years,Fully Paid,MORTGAGE,0.0
31,31825.0,36 months,7.90%,31825.0,A,75000.00,14.03,NaN,0.0,16966.70,5 years,Fully Paid,MORTGAGE,0.0

<center><i>**Congratulations! At this point you've mastered the most important pieces for working with data in Pandas!**<i></center>

## Fehlende Werte (Missing Values)
Die meisten Algorithmen gehen davon aus, dass alle Werte verfügbar sind und können fehlende Daten nicht verarbeiten. Die Vorgehensweise, die für fehlende Werte zu ergreifen ist, hängt sowohl vom Verhältnis fehlender zu den Gesamtwerten als auch von der Anwendungs-/Variablenbedeutung ab.

Für Variablen mit hoher Missingquote: 
- Lassen Sie die Variable fallen, da sie wahrscheinlich nutzlos ist, da so viele Werte fehlen;
        
Für Variablen mit geringer Missingquote können wir mehrere Ansätze verfolgen:
- Zeilen mit fehlenden Werten löschen;
- fehlende Werte ersetzen durch
  - Mittelwert
  - Median (besser als Mean)
  - Extremwerte für den Fall, dass wir konservativ sein müssen (prüfen Sie den Anwendungsfall)
  - Vorhersage der fehlenden Werte anhand anderer Variablen

### Prüfen auf fehlende Werte

Überprüfen wir Null-Werte - fehlende Datenzellen für einzelne Kredite. 
Gibt es Variablen, die wir verwerfen würden?

In [30]:
raw_data.isnull().sum(axis=0) #Summe der fehlenden Werte pro Spalte (axis=0 für Zeilen) -> Summe über die Zeilen

loan_amnt                   3
term                        3
int_rate                    3
funded_amnt                 3
grade                       3
annual_inc                  7
dti                         3
hardship_loan_status    42538
delinq_2yrs                32
last_pymnt_amnt             3
emp_length               1115
loan_status                 3
home_ownership              3
tax_liens                 108
dtype: int64

### Entfernen von hardship_loan_status aus dem Dataframe
Hinweis: Überprüfen Sie den Befehl `.drop()` in einem Pandas-Dataframe

Beachten Sie, dass sich das Argument `axis=0` auf Zeilenindizes bezieht, sodass es beim Entfernen einer Zeile verwendet wird,
<br/>
und `axis=1` bedeutet Spaltenindizes, sodass es beim Entfernen einer Spalte verwendet wird.

In [31]:
raw_data = raw_data.drop(['hardship_loan_status'], axis=1) #axis=1 droppt Spalten und axis=0 droppt Zeilen

In [32]:
raw_data.isnull().sum(axis=0) #Spalte wurde entfernt

loan_amnt             3
term                  3
int_rate              3
funded_amnt           3
grade                 3
annual_inc            7
dti                   3
delinq_2yrs          32
last_pymnt_amnt       3
emp_length         1115
loan_status           3
home_ownership        3
tax_liens           108
dtype: int64

### Entfernen Sie alle Zeilen mit fehlenden Werten

In [33]:
raw_data = raw_data.dropna() # alle NAs werden gelöscht

In [34]:
#Check null values again
raw_data.isnull().sum(axis=0) #alle NAs sind weg

loan_amnt          0
term               0
int_rate           0
funded_amnt        0
grade              0
annual_inc         0
dti                0
delinq_2yrs        0
last_pymnt_amnt    0
emp_length         0
loan_status        0
home_ownership     0
tax_liens          0
dtype: int64

In [35]:
raw_data.info() #Zeilen wurden gelöscht

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41318 entries, 0 to 42478
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   loan_amnt        41318 non-null  float64
 1   term             41318 non-null  object
 2   int_rate         41318 non-null  object
 3   funded_amnt      41318 non-null  float64
 4   grade            41318 non-null  object
 5   annual_inc       41318 non-null  float64
 6   dti              41318 non-null  float64
 7   delinq_2yrs      41318 non-null  float64
 8   last_pymnt_amnt  41318 non-null  float64
 9   emp_length       41318 non-null  object
 10  loan_status      41318 non-null  object
 11  home_ownership   41318 non-null  object
 12  tax_liens        41318 non-null  float64
dtypes: float64(7), object(6)
memory usage: 4.4+ MB

## Duplikate

Es kann verschiedene Gründe für doppelte/mehrere Datensätze für ein Darlehen geben:
    - doppelte Zeilen
    - Kredithistorie wird über die Zeit verfolgt

Für unseren Datensatz trifft der letzte Fall nicht zu, d.h., wenn es mehrere Datensätze gibt, kann dies nur auf Duplizierung zurückzuführen sein. In diesem Fall gibt es jedoch einen eindeutigen Datensatz für jeden Kredit,
wir müssen uns also in unserem Fall keine Sorgen um diesen Schritt machen.

Um Duplikate zu entfernen, schauen Sie sich die `drop_duplicates()` Methode an.

## Transformieren und Bereinigen einzelner Spalten

### Erstellen einer neuen binären numerischen Spalte für die Vorhersage
Nehmen wir an, dass wir den Datensatz verwenden möchten um ein Modell zur Prognose von Kreditausfällen zu erstellen. Wir benötigen dafür eine Variable mit zwei Werten, die angibt, ob das spezifische Darlehen zurückgezahlt wurde oder in Verzug ist. Am besten ist es in diesem Fall mit numerischen Spalten zu arbeiten, d.h., die beiden Werte in einer 1:0-Spalte darzustellen. Verwenden wir die Spalte "`loan_status`".

**Prüfen Sie die Werte der Kreditstatusvariablen und behalten Sie nur relevante Werte**

In [36]:
raw_data.loan_status.value_counts() #charged off = abgeschrieben/nicht bezahlt

Fully Paid                                             33230
Charged Off                                             5439
Does not meet the credit policy. Status:Fully Paid      1913
Does not meet the credit policy. Status:Charged Off      736
Name: loan_status, dtype: int64

Lassen Sie uns nur die Kredite mit dem Status `Vollständig bezahlt` und `Abgeschrieben` behalten, da die anderen Sonderfälle sind und für diese Analyse nicht von Interesse sind.
Um dies zu erreichen, filtern wir die Daten so, dass sie nur Kredite mit diesen beiden Ausprägungen enthalten.

In [37]:
raw_data = raw_data[(raw_data['loan_status'] == 'Fully Paid') | (raw_data['loan_status'] == 'Charged Off')]
# Nur die Stati 'fully paid' und 'charged off' von Bedeutung

In [38]:
raw_data.loan_status.value_counts()

Fully Paid     33230
Charged Off     5439
Name: loan_status, dtype: int64

**Zuordnen von Kategoriewerten zu einer neu erstellten 1:0-Spalte**

In [39]:
#Let's check the first 10 loans
raw_data.loan_status[:10]

0     Fully Paid
1    Charged Off
2     Fully Paid
3     Fully Paid
4     Fully Paid
5     Fully Paid
6     Fully Paid
7     Fully Paid
8    Charged Off
9    Charged Off
Name: loan_status, dtype: object

Wir können ein Wörterbuch (Objekttyp `Dictionary`) erstellen und es für die Übersetzung verwenden.

In [40]:
#Create a dictionary to use for translation
def_map = {'Fully Paid': 0, 'Charged Off': 1} # Zeichenkette/Schlüssel 'fully paid' wird Wert 0 zugewiesen und ...
def_map

{'Fully Paid': 0, 'Charged Off': 1}

Wir können den Befehl `.map()` verwenden, um eine Funktion oder ein Zuordnungswörterbuch auf jede Zeile des Dataframes anzuwenden.

In [41]:
#Check how mapping the values works
raw_data.loan_status.map(def_map)[:10] # binäre Zielvariablen

0    0
1    1
2    0
3    0
4    0
5    0
6    0
7    0
8    1
9    1
Name: loan_status, dtype: int64

In [42]:
#Create the new column
raw_data['defaulted'] = raw_data.loan_status.map(def_map)
# raw_data

Entfernen wir die ursprüngliche Spalte `loan_status`

In [43]:
raw_data = raw_data.drop('loan_status', axis=1)

In [44]:
raw_data.head()

,loan_amnt,term,int_rate,funded_amnt,grade,annual_inc,dti,delinq_2yrs,last_pymnt_amnt,emp_length,home_ownership,tax_liens,defaulted
0,5000.0,36 months,10.65%,5000.0,B,24000.0,27.65,0.0,171.62,10+ years,RENT,0.0,0
1,2500.0,60 months,15.27%,2500.0,C,30000.0,1.00,0.0,119.66,< 1 year,RENT,0.0,1
2,2400.0,36 months,15.96%,2400.0,C,12252.0,8.72,0.0,649.91,10+ years,RENT,0.0,0
3,10000.0,36 months,13.49%,10000.0,C,49200.0,20.00,0.0,357.48,10+ years,RENT,0.0,0
4,3000.0,60 months,12.69%,3000.0,B,80000.0,17.94,0.0,67.30,1 year,RENT,0.0,0

### Erstellen einer numerischen Variable aus `emp_length`

Lassen Sie uns die Vorbereitungen für die Entwicklung eines Modells zur Prognose von Kreditausfällen fortsetzen. Wir haben immer noch kategoriale Variablen, von denen wir glauben, dass sie für die Vorhersage von Ausfällen sinnvoll sein könnten. Wir stellen diese Informationen nun in numerischen Spalten dar.

In [45]:
raw_data.emp_length.unique()

array(['10+ years', '< 1 year', '1 year', '3 years', '8 years', '9 years',
       '4 years', '5 years', '6 years', '2 years', '7 years'],
      dtype=object)

In [46]:
emp_map1 = {} #leeres dictionary
for i in range (2,10):
    key = str(i) + ' years'
    value = i
    emp_map1[key] = value

In [47]:
emp_map1

{'2 years': 2,
 '3 years': 3,
 '4 years': 4,
 '5 years': 5,
 '6 years': 6,
 '7 years': 7,
 '8 years': 8,
 '9 years': 9}

In [48]:
emp_map = {str(i) + ' years' : i for i in range(2,10)} # alles in einer Zeile; nicht nötig
emp_map

{'2 years': 2,
 '3 years': 3,
 '4 years': 4,
 '5 years': 5,
 '6 years': 6,
 '7 years': 7,
 '8 years': 8,
 '9 years': 9}

In [49]:
emp_map['< 1 year'] = 0
emp_map['n/a'] = 0
emp_map['10+ years'] = 10
emp_map['1 year'] = 1
emp_map

{'2 years': 2,
 '3 years': 3,
 '4 years': 4,
 '5 years': 5,
 '6 years': 6,
 '7 years': 7,
 '8 years': 8,
 '9 years': 9,
 '< 1 year': 0,
 'n/a': 0,
 '10+ years': 10,
 '1 year': 1}

In [50]:
raw_data.emp_length[:10]

0    10+ years
1     < 1 year
2    10+ years
3    10+ years
4       1 year
5      3 years
6      8 years
7      9 years
8      4 years
9     < 1 year
Name: emp_length, dtype: object

In [51]:
raw_data.emp_length.map(emp_map)[:10]

0    10
1     0
2    10
3    10
4     1
5     3
6     8
7     9
8     4
9     0
Name: emp_length, dtype: int64

In [52]:
#Overwrite the column
raw_data.emp_length = raw_data.emp_length.map(emp_map)
raw_data.emp_length.unique()

array([10,  0,  1,  3,  8,  9,  4,  5,  6,  2,  7], dtype=int64)

In [53]:
raw_data.head()

,loan_amnt,term,int_rate,funded_amnt,grade,annual_inc,dti,delinq_2yrs,last_pymnt_amnt,emp_length,home_ownership,tax_liens,defaulted
0,5000.0,36 months,10.65%,5000.0,B,24000.0,27.65,0.0,171.62,10,RENT,0.0,0
1,2500.0,60 months,15.27%,2500.0,C,30000.0,1.00,0.0,119.66,0,RENT,0.0,1
2,2400.0,36 months,15.96%,2400.0,C,12252.0,8.72,0.0,649.91,10,RENT,0.0,0
3,10000.0,36 months,13.49%,10000.0,C,49200.0,20.00,0.0,357.48,10,RENT,0.0,0
4,3000.0,60 months,12.69%,3000.0,B,80000.0,17.94,0.0,67.30,1,RENT,0.0,0

### Übung: Erstellen Sie eine numerische Variable aus `grade`

Lassen Sie uns den gleichen Prozess für `grade` durchführen. Hier können wir die Ordinalstruktur der Grades verwenden, um eine numerische Spalte zu erstellen.

In [54]:
#Check unique values
raw_data.grade.unique()

array(['B', 'C', 'A', 'E', 'F', 'D', 'G'], dtype=object)

In [55]:
#Create a dictionary to use for translation
grade_map = {'A': 1, 'B': 2, 'C': 3, 'D': 4, 'E': 5, 'F': 6, 'G': 7}
grade_map

{'A': 1, 'B': 2, 'C': 3, 'D': 4, 'E': 5, 'F': 6, 'G': 7}

In [56]:
#Check first 10 elements of column `grade`
raw_data.grade[:10]

0    B
1    C
2    C
3    C
4    B
5    A
6    C
7    E
8    F
9    B
Name: grade, dtype: object

In [57]:
#Overwrite the column, use the `map` function
raw_data.grade = raw_data.grade.map(grade_map)

In [58]:
#Check the first few rows of the dataframe
raw_data.head()

,loan_amnt,term,int_rate,funded_amnt,grade,annual_inc,dti,delinq_2yrs,last_pymnt_amnt,emp_length,home_ownership,tax_liens,defaulted
0,5000.0,36 months,10.65%,5000.0,2,24000.0,27.65,0.0,171.62,10,RENT,0.0,0
1,2500.0,60 months,15.27%,2500.0,3,30000.0,1.00,0.0,119.66,0,RENT,0.0,1
2,2400.0,36 months,15.96%,2400.0,3,12252.0,8.72,0.0,649.91,10,RENT,0.0,0
3,10000.0,36 months,13.49%,10000.0,3,49200.0,20.00,0.0,357.48,10,RENT,0.0,0
4,3000.0,60 months,12.69%,3000.0,2,80000.0,17.94,0.0,67.30,1,RENT,0.0,0

### Erstellen einer numerischen Variable aus `term`

Überprüfen wir die eindeutigen Werte der Termspalte und extrahieren die Zahlenwerte.

In [59]:
raw_data.term.unique()

array([' 36 months', ' 60 months'], dtype=object)

Da die numerischen Werte immer im 2. und 3. Zeichen der Zeichenfolge (String Variable) enthalten sind, können wir diese Teilzeichenfolge einfach mit der `slice()`-Indizierung extrahieren und in einen ganzzahligen Typ konvertieren.

Glücklicherweise gibt es eine Funktion in Pandas mit dem Namen `pd.to_numeric()`, die numerische Werte, die als Zeichenfolge (String) gespeichert sind, in numerische Typen konvertieren kann.

In [60]:
raw_data.term = pd.to_numeric(raw_data.term.str.slice(1,3)) #nur Werte 2 bis 3 werden übernommen aus der Spalte term

In [61]:
raw_data.term.head()

0    36
1    60
2    36
3    36
4    60
Name: term, dtype: int64

Überprüfen wir den resultierenden Datentyp.

In [62]:
type(raw_data.term[0])

numpy.int64

In [63]:
raw_data.head()

,loan_amnt,term,int_rate,funded_amnt,grade,annual_inc,dti,delinq_2yrs,last_pymnt_amnt,emp_length,home_ownership,tax_liens,defaulted
0,5000.0,36,10.65%,5000.0,2,24000.0,27.65,0.0,171.62,10,RENT,0.0,0
1,2500.0,60,15.27%,2500.0,3,30000.0,1.00,0.0,119.66,0,RENT,0.0,1
2,2400.0,36,15.96%,2400.0,3,12252.0,8.72,0.0,649.91,10,RENT,0.0,0
3,10000.0,36,13.49%,10000.0,3,49200.0,20.00,0.0,357.48,10,RENT,0.0,0
4,3000.0,60,12.69%,3000.0,2,80000.0,17.94,0.0,67.30,1,RENT,0.0,0

### Erstellen einer numerischen Variable aus `int_rate`

Die Spalte `int_rate` sieht gut aus, wenn man nur auf die Tabelle schaut, aber lassen Sie uns sehen, welche Art von Werten sie enthält.

In [64]:
print(type(raw_data.int_rate[0]))
raw_data.int_rate[0]

<class 'str'>

' 10.65%'

Die `pd.to_numeric()` Methode funktioniert hier nicht, raten Sie warum...

In [65]:
raw_data.int_rate = pd.to_numeric(raw_data.int_rate.map(lambda s: s.replace('%', ''))) #lambda-Fkt; Array s mit Fkt. replace

In [66]:
raw_data.int_rate[:3]

0    10.65
1    15.27
2    15.96
Name: int_rate, dtype: float64

In [67]:
raw_data.head()

,loan_amnt,term,int_rate,funded_amnt,grade,annual_inc,dti,delinq_2yrs,last_pymnt_amnt,emp_length,home_ownership,tax_liens,defaulted
0,5000.0,36,10.65,5000.0,2,24000.0,27.65,0.0,171.62,10,RENT,0.0,0
1,2500.0,60,15.27,2500.0,3,30000.0,1.00,0.0,119.66,0,RENT,0.0,1
2,2400.0,36,15.96,2400.0,3,12252.0,8.72,0.0,649.91,10,RENT,0.0,0
3,10000.0,36,13.49,10000.0,3,49200.0,20.00,0.0,357.48,10,RENT,0.0,0
4,3000.0,60,12.69,3000.0,2,80000.0,17.94,0.0,67.30,1,RENT,0.0,0